.headers {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  color: #050500;
}
.links {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #050500;
}
.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #050500;
}
.navigation {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #050500;
  text-transform: capitalize;
  padding-top: 4%;
  padding-bottom: 4%;
}
