@import "variables";


nav {
  background-color: @color-yellow;
  .navigation();
  ul {
    li {
      display: inline;
      list-style-type: none;
      padding: 3%;
      span {
        color: @color-red;
      }
    }
  }
}

.background-image {
  height: 500px;
  background-image: url('banner-bg.png');
  background-size: cover;
  background-position: center;
}

.background-color {
  height: 100%;
  background-color: #3B3838;
  opacity: 0.33;
}

.float {
  float: right;
  right: 50%;
  top: 50%; 
}

button {
  background-color: @color-yellow;
  border: @color-yellow;
  border-radius: 8px;
  padding: 10px;
  .links();
}

h2 {
  .headers() !important;
  span {
    color: @color-red;
  }
}

p {
  .text();
}

#graysection {
  background-color: @color-gray;
}

section {
  padding: 2% 3%;
  figure {
    img {
      min-width: 200px;
      max-width: 232px;
      width: 100%;
      display: block;
      margin: auto;
    }
  }
}

footer {
  background-color: @color-black-bg;
  border-top: 6px solid @color-yellow;
  figure{
    img {
      padding: 3%;
      display: block;
      margin: auto;
      max-width: 350px;
    }
  }
}
